<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Microsoft.CommonDataService.Connection" type="Microsoft.CommonDataService.Configuration.ConnectionSettingsSection, Microsoft.CommonDataService.ServiceContracts" />
  </configSections>
  <Microsoft.CommonDataService.Connection>
    <Tenant>fabrikamco.onmicrosoft.com</Tenant>
    <EnvironmentId>d54d812d-efb0-4787-b3c2-69659fb4e77f</EnvironmentId>
    <Credentials Type="User">
      <UserSource>Prompt</UserSource>
      <ApplicationId>7a6b341a-4db6-4e58-b7c0-d602792e5e5c</ApplicationId>
      <RedirectUri>http://localhost</RedirectUri>
    </Credentials>
  </Microsoft.CommonDataService.Connection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
